<div class="row encabezado">
        <div class="col-3 alineadoCentro justify-content: center" >
          <img src="assets/img/logo.png" alt=""> 
        </div>
        <div class="col-6 alineadoCentro" >
        
        </div>
        <!-- <div class="col-3 loginArea" >
          Registrarse                    
        </div> -->
    </div>
    <div class="row barra">
      <div class="col-12" >
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-secondary">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categorias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <div *ngFor= "let cat of all_categorias" class="col-4">
                      <a class="dropdown-item" href="#">{{cat.titulo_categoria}}</a>
                    </div>
                    </div>
                  </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>



  